@font-face {
  font-family: "jakarta";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* custom properties */

  --clr-ttl: rgb(79, 128, 228);
  --clr-txt: rgb(248, 243, 243);
  --clr-txt-acc: rgb(215, 223, 238);
  --clr-lgt: rgba(248, 243, 243, 0.5);
  --clr-grp: #1847ad;
  --clr-pnt: #d45250;
  --clr-cnt: rgb(248, 243, 243);

  --bg-body: rgb(41, 48, 59);
  --bg-body-mbl: var(--bg-main);
  --bg-main: rgb(36, 40, 48);
  --bg-main: rgb(36, 40, 48);
  --bg-cnt: #052874;
  --bg-nrd: rgb(42, 51, 70, 0.4);
  --bg-not-hov: rgb(42, 51, 70, 0.9);
}

/* light theme */

@media (prefers-color-scheme: light) {
  :root {
    --clr-txt: rgba(149, 153, 162, 255);
    --clr-ttl: rgba(39, 40, 48, 255);
    --clr-txt-acc: rgba(101, 106, 118, 255);
    --clr-lgt: rgba(194, 200, 204, 255);
    --clr-grp: #1847ad;

    --bg-body: rgba(237, 241, 248, 0.75);
    --bg-main: rgb(255, 255, 255);
    --bg-nrd: rgba(235, 243, 248, 0.75);
    --bg-not-hov: rgb(228, 238, 249);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "jakarta", "sans-serif";
  height: max-content;
  background-color: var(--bg-body);
  font-weight: 500;
  color: var(--clr-txt);
  padding-block: min(5%, 3rem);
}

.page {
  width: min(100%, 650px);
  margin: auto;
  background-color: var(--bg-main);
  padding: 1rem;
  border-radius: 5px;
}

.nots-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nots-status__title {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  color: var(--clr-ttl);
  font-weight: 800;
}

.nots-status__count {
  display: inline-block;
  width: 1.8rem;
  aspect-ratio: 1 / 1;
  line-height: 1.7rem;
  text-align: center;
  border-radius: 5px;
  background-color: var(--bg-cnt);
  color: var(--clr-cnt);
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.notification__box {
  position: relative;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.3s;
}

.notification__box--no-read {
  background-color: var(--bg-nrd);
}

.notification__basic {
  display: flex;
  gap: 0.5rem;
}

.avatar__img,
.commented-picture {
  width: 2.75rem;
  height: 2.75rem;
}

.content__row-01 {
  display: flex;
}

.notifications__spans {
  line-height: 1.4rem;
  margin-bottom: 0.25rem;
}

.user {
  color: var(--clr-ttl);
  margin-right: 0.25rem;
  transition: 0.3s;
}

.user,
.group {
  font-weight: 800;
}

.group,
.user:hover {
  color: var(--clr-grp);
}

.post {
  color: var(--clr-txt-acc);
}

.point::after {
  content: "";
  position: relative;
  width: 0.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--clr-pnt);
  border-radius: 50%;
  display: inline-block;
  left: 0.5rem;
  bottom: 0.1rem;
}

.commented-picture {
  border-radius: 3px;
}

.timestamp {
  color: var(--clr-lgt);
}

.notification__box p {
  border: 1px solid var(--clr-lgt);
  padding: 0.75rem;
  line-height: 1.3rem;
  margin-inline-start: 3.25rem;
  border-radius: 3px;
}

.notification__box p:hover {
  background-color: var(--bg-not-hov);
}

.nots-status__is-read-all,
.notification p,
.user,
.post,
.group,
img {
  cursor: pointer;
}

@media (width < 441px) {
  body {
    background-color: var(--bg-body-mbl);
  }
}

@media (width > 500px) {
  body {
    background-color: var(--bg-body-mbl);
  }

  .commented-picture {
    position: absolute;
    right: 0.75rem;
  }
}
